* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 40px;
  text-align: center;
  padding: 20px;
}
.main {
  padding: 50px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* align-items: center; */
  padding: 50px;
}
.box {
  background-color: white;
  width: 250px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
}
.title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
}
.image-box {
  height: 150px;
  width: 200px;
}
h4,
p {
  padding: 2px 0px;
}
